@model Transistor_Shanty.Models.ViewModel.CompareLaptops

@{
    ViewData["Title"] = "CompareLaptops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CompareLaptops</h1>

<h4>CompareLaptops</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompareLaptops" method="post">
            
            <div class="form-group">
                <select asp-for="Id" asp-items="Model.Laptop"></select>
                <select asp-for="Id2" asp-items="Model.Laptop1"></select>

            <div class="form-group">
                <input type="submit" value="Compare" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
